.CountryLine {
    display: flex;

    &-correct {
        background-color: green;
    }

    &-incorrect {
        background-color: red;
    }

    &-partcorrect {
        background-color: orange;
    }

}

